.App{
    text-align: center;
    margin-top: 15%;
}
h2{
    margin:10px;
}
button {
    margin: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    background-color: rgb(6, 172, 0);
  }
  button:hover{
    background-color: green;
  }